---
area: null
contexts: []
created: &id001 2025-04-11 00:00:00
defer_until: null
due: null
energy: null
id: 2025-04-11T0000-remove-payment-gatweway-verification
project: 2025-09-13T0000-automate-onboarding-batches
tags: []
time_minutes: null
title: remove payment gatweway verification?
updated: *id001
waiting_on: null
waiting_since: null
---